/* Landing and Navbar */
.container-landing{
    background-image: url('../image/ladingFood.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    position: relative;
    text-align: right;
}

.btn-landing {
    border-radius: 999px;
    border: 2px solid black;
    background-color: white;
    color:black;
    font-weight: bold;
    width: 150px;
    height: 50px;
    margin-top: 20%;
    margin-right: 20%;
    box-shadow: 0 5px 2px #666;
}
.btn-landing:hover {
    background-color: black;
    color:white;
    border: 2px solid white;
    transition: 1s;
    cursor: pointer;
}
.img-logo {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    box-shadow: 0 5px 2px #666;
}
.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}


.link {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    margin-right: 30px;
}

.flex-search {
    text-align: center;
    margin-right: 1%;
    display: flex;
}

.input-search {
    border-radius: 999px;
    height: 1.5rem;
    border-color: rgba(0, 0, 0, 0.753);
    padding-left: 15px;
    padding-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.753);
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 5px 2px #666;
    cursor: pointer;
    position: relative;
}
.btn-search {
    border: none;
    background: none;
    margin-top: 3px;
    position: absolute;
    left: 96%;
}

.nav-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: inherit;
    width: 100%;
}
.vl {
    border-left: 1px solid black;
    height: 15px;
}
.div-nav {
    display: flex;
    gap:5px;
}

/* Home */
.home-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 5% 10% 0 10%;;
}

/* Card */
.card-container {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    width: 300px;
    height: 460px;
    margin-bottom: 5%;

}

.homeCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.color-h3 {
    color: black;
    font-weight: bold;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 2rem;
    margin-left: 5px;
}
.color-font {
    font-size: 1rem;
    margin: 0;
    color: grey;
    line-height: 1.5rem;
}
.link-card {
    text-decoration: none;
}

.img-card {
    width: 100%;
    object-fit: contain;
    border-radius: 25px 25px 0 0;
}

.card-flex {
    display: flex;
    justify-content: space-between;
    margin: 0 3px 0 3px;
}

/* Pagination */
.fas {
    font-size:24px
}
.btn-page {
    background: none;
    border: none;
    margin-left: 5px;
}

span-page {
    width: 20px;
    height: 5px;
    border: 1px solid;
    border-radius: 3px;
}
.pagination-container {
    text-align: center;
    gap:3px;
    margin-bottom: 5%;
}

/* Detail */

.detail-container {
    width: 60%;
    height: 90vh;
    margin-left:20%;
    margin-top: 1%;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.title-detail {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 3px;
}
.detail-info {
    margin-left: 3px;
}

.h4-diet {
    margin-left: 2%;
    text-transform: capitalize;
}
.detail-dietScore {
    display: flex;
    justify-content: space-between;
}
progress {
    background-color: rgb(130, 176, 84);
}
.img-detail {
    height: 40vh;
    width: 60vw;
    filter: grayscale(4%) sepia(30%) blur(1px) brightness(97%) saturate(82%) opacity(74%);
    -webkit-filter: grayscale(4%) sepia(30%) blur(1px) brightness(97%) saturate(82%) opacity(74%);
    -moz-filter: grayscale(4%) sepia(30%) blur(1px) brightness(97%) saturate(82%) opacity(74%);
}

/* form */

form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 70%;
    margin-left: 40%;
    margin-top: 1%;

}
.input-range {
    accent-color: rgb(130, 176, 84);
    width: 40%;
}
.title-form {
    text-align: center;
    margin-top: 3px;
}

.input {
    width: 40%;
}
.btn-create {
    border-radius: 5px;
    width: 20%;
    margin-left: 8%;
    margin-top: 2%;
}

.err-color {
    color: rgb(197, 29, 29);
}


/* ABOUT ME */

.title-me {
    text-align: center;
    margin-top: 3px;
}

/* FILTER AND ORDER */

select, option, .view-more{
    border-radius: 999px;
}

.view-more {
    height: 30px;
    width: 150px;
    background-color: white;
    margin-right: 33px;
    margin-top: 3px;
    box-shadow: 0 5px 2px #666;
}

.filterAndOrder {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 12px;
}